XTerm.faceName:     inconsolata
XTerm.faceSize:     12
XTerm.background:   gray16
XTerm.foreground:   green
XTerm.pointerColor: red
XTerm.pointerColorBackground: gray15
XTerm.cursorColor:  white
XTerm.loginShell:   true
XTerm.scrollBar:    true
XTerm.scrollKey:    true
XTerm.saveLines:    2048

URxvt.font: 				xft:Inconsolata:size=11:antialias:true
URxvt.letterSpace:			-1
URxvt.scrollstyle: 			plain
URxvt.savelines:			60000
URxvt.borderLess:			false
URxvt.depth:				32
URxvt.background: 			rgba:0000/0000/0000/bbbb
URxvt.foreground:			white
URxvt.perl-ext-common: 		default,url-select,tabbed,vtwheel,font-size
URxvt.urlLauncher: 			/usr/bin/firefox
URxvt.matcher.button: 		1
URxvt.underlineURLs:		true
URxvt.buffered:				true

URxvt.keysym.M-u:			perl:url-select:select_next
URxvt.keysym.M-=:           perl:font-size:increase
URxvt.keysym.M--:           perl:font-size:decrease



Xft.antialias:		true

xpdf.antialias:		yes
xpdf.enableFreetype:yes

