!XTerm.faceName:     inconsolata
!XTerm.faceSize:     12
!XTerm.background:   gray16
!XTerm.foreground:   green
!XTerm.pointerColor: red
!XTerm.pointerColorBackground: gray15
!XTerm.cursorColor:  white
!XTerm.loginShell:   true
!XTerm.scrollBar:    true
!XTerm.scrollKey:    true
!XTerm.saveLines:    2048

URxvt.font:                 xft:Inconsolata:size=10:antialias:true
URxvt.letterSpace:          -1
URxvt.scrollstyle:          plain
URxvt.savelines:            60000
URxvt.borderLess:           false
URxvt.depth:                32
URxvt.perl-ext-common:      default,url-select,vtwheel,keyboard-select
URxvt.urlLauncher:          /usr/bin/firefox
URxvt.matcher.button:       1
URxvt.underlineURLs:        true
URxvt.buffered:             true

URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate

!urxvt zenburn colorscheme http://snk.tuxfamily.org/log/zenburn-terminal-color-scheme.html
!BLK Cursor
URxvt.color0      : #000d18
URxvt.color8      : #000d18
!RED Tag
URxvt.color1      : #e89393
URxvt.color9      : #e89393
!GRN SpecialKey
URxvt.color2      : #9ece9e
URxvt.color10     : #9ece9e
!YEL Keyword
URxvt.color3      : #f0dfaf
URxvt.color11     : #f0dfaf
!BLU Number
URxvt.color4      : #8cd0d3
URxvt.color12     : #8cd0d3
!MAG Precondit
URxvt.color5      : #c0bed1
URxvt.color13     : #c0bed1
!CYN Float
URxvt.color6      : #dfaf8f
URxvt.color14     : #dfaf8f
!WHT Search
URxvt.color7      : #efefef
URxvt.color15     : #efefef
!TXT Normal, Normal, Cursor
URxvt.background  : #1f1f1f
URxvt.foreground  : #dcdccc
URxvt.cursorColor : #8faf9f
!HLT Include, StatusLine, ErrorMsg
URxvt.colorBD     : #ffcfaf
URxvt.colorUL     : #ccdc90
URxvt.colorIT     : #80d4aa


Xft.antialias:      true

!-----------------------------------------------------------------------------
! xpdf
xpdf.antialias:     yes
xpdf.enableFreetype:yes
xpdf.foreground:        black
xpdf.background:        white
xpdf.urlCommand:        /usr/bin/firefox %s
